/* Overall Setting */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
body {
  background-color: hsl(235, 16%, 14%);
  background-image: url("/src/images/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
body > * {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  color: hsl(237, 18%, 59%);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

/* Header */
header {
  padding: 140px 0px 110px;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 9px;
}

/* Countdown Timer */
.countdownTimer-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.countdownTimer-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.countdownTimer-timer-time {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.flip-card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 10px 1px hsl(234, 17%, 12%);
  /* Animation */
  /* Should not be longer than 1s */
  /* Otherwise the appended div couldn't be remove before the next animation */
}
.flip-card-top, .flip-card-bottom {
  position: relative;
}
.flip-card-top, .flip-card-bottom,
.flip-card .flip-top,
.flip-card .flip-bottom {
  box-sizing: border-box;
  height: 70px;
  width: 146px;
  text-align: center;
  line-height: 1;
  font-size: 60px;
  overflow: hidden;
}
.flip-card-top,
.flip-card .flip-top {
  background-color: hsl(240, 21%, 22%);
  padding-top: 40px;
  color: hsl(345, 60%, 57%);
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
.flip-card-top::before,
.flip-card .flip-top::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: hsl(235, 16%, 14%);
  border-radius: 35px;
  position: absolute;
  left: -5px;
  bottom: -5px;
}
.flip-card-top::after,
.flip-card .flip-top::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: hsl(235, 16%, 14%);
  border-radius: 35px;
  position: absolute;
  right: -5px;
  bottom: -5px;
}
.flip-card-bottom,
.flip-card .flip-bottom {
  background-color: hsl(236, 21%, 26%);
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: hsl(345, 95%, 68%);
  border-radius: 0px 0px 10px 10px;
}
.flip-card-bottom::before,
.flip-card .flip-bottom::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: hsl(235, 16%, 14%);
  border-radius: 35px;
  position: absolute;
  left: -5px;
  top: -5px;
}
.flip-card-bottom::after,
.flip-card .flip-bottom::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: hsl(235, 16%, 14%);
  border-radius: 35px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.flip-card .flip-top {
  position: absolute;
  animation: flipTop 0.2s ease-in;
  z-index: 1;
  transform-origin: bottom;
}
.flip-card .flip-bottom {
  position: absolute;
  bottom: 0px;
  animation: flipBottom 0.2s ease-out 0.2s;
  z-index: 1;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flipTop {
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipBottom {
  100% {
    transform: rotateX(0deg);
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 100px 0px 70px;
  background-image: url("/src/images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer a {
  color: hsl(237, 18%, 59%);
  transition: all 0.2s ease-in;
}
footer a:hover {
  color: hsl(345, 95%, 68%);
}
footer a i.fa-brands {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .app-container {
    align-items: center;
  }
  header {
    width: 324px;
    padding: 146px 0px 60px;
  }
  .countdownTimer-container {
    width: 324px;
    gap: 15px;
  }
  .countdownTimer-timer {
    gap: 15px;
  }
  .countdownTimer-timer-time {
    font-size: 6px;
    letter-spacing: 4px;
  }
  .flip-card {
    box-shadow: 0px 5px 1px hsl(234, 17%, 12%);
  }
  .flip-card-top, .flip-card-bottom,
  .flip-card .flip-top,
  .flip-card .flip-bottom {
    height: 34px;
    width: 70px;
    font-size: 28px;
  }
  .flip-card-top,
  .flip-card .flip-top {
    padding-top: 20px;
    border-radius: 5px 5px 0px 0px;
  }
  .flip-card-top::before,
  .flip-card .flip-top::before {
    width: 7px;
    height: 7px;
    left: -3px;
    bottom: -3px;
  }
  .flip-card-top::after,
  .flip-card .flip-top::after {
    width: 7px;
    height: 7px;
    right: -3px;
    bottom: -3px;
  }
  .flip-card-bottom,
  .flip-card .flip-bottom {
    padding-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
  }
  .flip-card-bottom::before,
  .flip-card .flip-bottom::before {
    width: 7px;
    height: 7px;
    left: -3px;
    top: -3px;
  }
  .flip-card-bottom::after,
  .flip-card .flip-bottom::after {
    width: 7px;
    height: 7px;
    right: -3px;
    top: -3px;
  }
  footer {
    min-width: 100vw;
    padding: 160px 0px 48px;
    background-position: bottom 0% right 15%;
  }
}

/*# sourceMappingURL=style.css.map */
