
// Colors
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$desaturated-blue: hsl(236, 21%, 26%);
$dark-blue: hsl(235, 16%, 14%);
$deep-blue: hsl(234, 17%, 12%);


// Padding and Margin
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xlg: 35px;


// Transition
$transition: all .2s ease-in;


// Font Weight
$bold: 700;